test/test
test/test.hex
*.lnp
*.LST
*.M51
*.OBJ
*.plg
*.yang
*.bak
*.uvopt
*.uvproj
*.A51
实验一/test
*.hex
实验三/four/four
实验三/one/one
*.F2
实验三/three/three
实验三/two/two
实验二/five/five
实验二/four/f
实验二/one/one
实验二/six/six
实验二/three/three
实验二/two/two
实验四/shiyan4
*.管理员用户1
